<div class="container">
    <h1 class="center bold">Welcome User!</h1>
    <div  fxLayout.xs="column" fxLayout.gt-sm="row" fxLayoutAlign.xs="space-around center" fxLayoutAlign.gt-sm="space-evenly start">
        <div>
            <mat-card class="card">
                <img src="../../assets/icons8-inquiry-80.png" alt="inquiry" class="image">
                <hr>
                <mat-card-content>
                    <p class="bold">
                        CUSTOMER INQUIRY DATA
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card class="card">
                <img src="../../assets/icons8-sale-100.png" alt="sale order" class="image">
                <hr>
                <mat-card-content>
                    <p class="bold">
                        CUSTOMER SALES ORDER
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card class="card">
                <img src="../../assets/delivery-list-2496033-2089728.png" alt="delivery list" class="image">
                <hr>
                <mat-card-content>
                    <p class="bold">
                        CUSTOMER DELIVERY LIST
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>